.work-flow-edges_labels {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.work-flow-edge_label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}